.rankShow{
    margin-top: 100px;
}
.itemcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 50px 50px 20px 50px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
}
.itemBoxShow,.itemFavShow{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}
.itemBoxShow:hover,.itemListDetail:hover{
    background-color: #1b1c20;
    color: rgb(255, 188, 52);
}
.itemListDetail{
    display: flex;
    color: #428bca;
}
.itemList{
    text-align: center;
}
.CALCULATORContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CALCULATORBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.paginate{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.paginatelink{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(255, 188, 52);
    padding: 3px 10px;
    border-radius: 5px;
    width: max-content;
    margin-left: 20px;
}
.paginatelink:hover {
    color: #1b1c20;
    background-color: rgb(255, 188, 52);
}
.all{
    position: relative;
    
}
.topbar{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #303134;
    
}
.logo{
    display: flex;
    justify-content: center;
    justify-content: center;
    color: white;
    background-color: rgb(255, 188, 52);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;

}
.image{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logoTop{
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}
.logoButtom{
    text-align: center;
    margin-top: -15px;
}
.logoName{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttonTopbar{
    display: flex;
    align-items: center;
}